*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #495057;
	color: #e9ecef;
	font-family: 'Newsreader', serif;
}
nav{
	/* border: 2px solid red; */
	background-color: black;
	
	text-align: center;
	font-size: 2rem;
	/* margin: 1rem 0rem; */
	margin-top: 0rem;
	padding: 1rem 0rem;

}
.image-header{
	/* border: 2px solid red; */
	width: 50%;
}
.header img{
	width: 100%;
	max-height: 30rem;
}
.date{
	font-size: 1rem;
	margin: 1rem 0rem;
}
.header{
	/* border: 2px solid red; */
	margin: 0rem 5rem;
	color: black;
	background-color: #f8f9fa;
	padding: 1rem;
	display: flex;
}
.header h2{
	font-size: 3rem;
}
.header p{
	font-size: 2rem;
}
.text-header{
	padding: 2rem;
	width: 100%;
}
hr{
	margin:0rem 5rem;
}
.header a{
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 600;
	margin-top:1rem;
	/* border: 2px solid red; */
	background-color: #343a40;
	color: #dee2e6;
	padding: 1rem 3rem;
	display: inline-block;
}
footer{
	font-size: 1.5rem;
	background-color: black;
	text-align: center;
	padding: 1.5rem;
}


#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid black;
    border-radius: 100%;
    margin: 1rem auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media(max-width:1200px){
	body{
		background-color: #495057;
		color: #e9ecef;
		font-family: 'Newsreader', serif;
	}
	nav{
		/* border: 2px solid red; */
		text-align: center;
		font-size: 2rem;
		margin: 1rem;
	
	}
	.image-header{
		/* border: 2px solid red; */
		width: 100%;
	}
	.header img{
		width: 100%;
		/* max-height: 50rem; */
	}
	.date{
		font-size: 1rem;
		margin: 1rem 0rem;
	}
	.header{
		/* border: 2px solid red; */
		margin: 0rem 1rem;
		color: black;
		background-color: #f8f9fa;
		padding: .5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.header h2{
		font-size: 3rem;
	}
	.header p{
		font-size: 2rem;
	}
	.text-header{
		padding: 1rem;
		width: 100%;
	}
	hr{
		margin:0rem 5rem;
	}
	.header a{
		text-decoration: none;
		font-size: 1.5rem;
		font-weight: 600;
		margin-top:1rem;
		/* border: 2px solid red; */
		background-color: #343a40;
		color: #dee2e6;
		padding: 1rem 3rem;
		display: inline-block;
	}
}